__pycache__/
*.py[cod]
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
*~
#PyCharm
.idea

#Unit test / coverage reports
.coverage
.tox

#OS X
.DS_Store

#Virtualenv
include/
htmlcov
