{
  "port": 3342,
  "auth": {
    "weibo": {
      "client_id": "...",
      "client_secret": "...",
      "redirect_uri": "your_domain/auth/callback/weibo"
    },
    "twitter": {
      "consumer_key": "...",
      "consumer_secret": "...",
      "callback": "http://yourdomain/auth/callback/twitter"
    }
  },
  "debug": true,
  "cookie_secret": "reset me!",
  "template_path": "views",
  "connect_timeout": 1.5,
  "request_timeout": 1.5
}
