<!DOCTYPE html>
<html>
<head>
    <title>dandelioning</title>
    <meta charset="utf-8" />
    <style type="text/css">
        #container {
            max-width: 720px;
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<script type="text/javascript">
    function send_request(url, qs) {
        if (qs == null) {
            qs = '';
        } else {
            qs = qs.slice(1);
        }

        var request = new XMLHttpRequest();

        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                data = JSON.parse(request.responseText);
                console.log(data);
                if (data['code'] !== '200') {
                    alert(data['message']);
                }
            }
        };

        request.open('POST', url + "?t=" + Math.random());
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        request.send(qs);
    }

    function update() {
        var status = document.getElementById('status').value;

        if (!status) {
            alert("Please type something before.");
        } else {
            qs = '';
            qs += "&status=" + encodeURIComponent(status);
            send_request('/_/update', qs);
        }
    }
</script>
<div id="main-container">
    <div id="container">
        <ul>
            {% for provider in accounts %}
            <li>
                {% if not accounts[provider] %}
                <a href="/auth/1/{{ provider }}">Login with {{ provider }}</a>
                {% else %}
                <a href="#">Logged with {{ provider }}</a>
                {% end if %}
            </li>
            {% end for %}
        </ul>
        <textarea id="status" placeholder="Type something to update..."></textarea>
        <a href="#" onclick="update();">update</a>
    </div>
</div>
</body>
</html>
